@media screen and (max-width: 500px) {
    #faq-card {
        padding: 2rem;
    }
    #faq-card .title {
        font-size: 4.1rem;
        }
        #faq-card .title::before {
            background-size: contain;
            height: 3rem;
    }

    /* FAQ Section spacing */
    #faq-section .faq {
        padding: 3rem 0;
    }

    /* FAQ Question lenght limiter */
    #faq-section .faq .question h2 {
        max-width: 25rem;
    }

    /* FAQ Answer adjustment */
    #faq-section .faq .answer {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
}

/* FAQ Question lenght limiter */
@media screen and (max-width: 370px) {
    #faq-section .faq .question h2 {
        max-width: 20rem;
    }
}