/* Font - WorkSans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


html {
    font-size: 62.5%;
    font-family: "Work Sans";
}

.background-pattern {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}
.background-pattern img {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-color: var(--Neutral);
}

/* FAQ Card - Config */
#faq-card {
    background-color: var(--CardBgColor);
    max-width: 62rem;
    margin: 2rem;
    padding: 4rem;
    border-radius: 1.5rem;
}
#faq-card .title {
    font-size: 5rem;
    color: var(--Titles);
    display: flex;
    align-items: center;
    }
    #faq-card .title::before {
        content: '';
        background: url(../assets/images/icon-star.svg) no-repeat center center;
        width: 4rem;
        height: 4.1rem;
        display: block;
        margin-right: 2rem;
}

/* FAQ Sections Style */
#faq-section li {
    list-style: none;
}

#faq-section .faq {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--Neutral);
    }
    #faq-section .faq:last-child {
        padding-bottom: 0;
        border: none;
}

#faq-section .faq .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    }
    #faq-section .faq .question h2 {
        font-size: var(--QuestionFontSize);
        color: var(--Titles);
    }
    #faq-section .faq .question::after,
    #faq-section .faq .question.active::after {
        content: '';
        width: 3rem;
        height: 3.1rem;
        display: block;
        margin-left: 1rem;
    }
    #faq-section .faq .question::after {
        background: url(../assets/images/icon-plus.svg) no-repeat center center;
    }
    #faq-section .faq .question.active::after {
        background: url(../assets/images/icon-minus.svg) no-repeat center center;
    }
    #faq-section .faq .question:hover {
        color: var(--ActiveStates);
        transition: 0.2s ease-in-out;
}

#faq-section .faq .answer {
    font-size: var(--AnswerFontSize);
    margin-top: 1rem;
    display: none;
    color: var(--TextColor);
    }
    #faq-section .faq .answer.show {
        display: block;
}

/* Footer */
.attribution { 
    margin: 2rem;
    font-size: 1.1rem; 
    text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
}